﻿@{
    ViewBag.Title = "Campeonato de filmes ";
}
@model IEnumerable<WebApplication2.Models.FilmeModel>

<div class="container" >
    <div class="card text-center bg-secondary text-white">
        <div class="card-header text-info">
            <strong>CAMPEONATO DE FILMES</strong>
        </div>
        <div class="card-body">
            
            <h3 aling="center">Fase de seleção</h3><br/>
            <p class="card-text">Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão
            Gerar Meu Campeonato para prosseguir.</p>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-8  text-white">
            <label for="">Selecionados</label><br/>
            <span id="informacao_contador">0</span> de 8 filmes
        </div>

        <div>
            <button type="button" class="btn btn-lg btn-dark text-white" align="right" id="btnGerarCampeonato" onclick="gerarCampeonato()" disabled>GERAR MEU CAMPEONATO</button>
        </div>
    </div>
    <br />
    <div class="row">
        <input hidden id="contador_informacao" />

        @foreach (var informacao in Model)
        {
            <div class="col-sm-3">
                <div class="card " style="margin-bottom: 5%; margin-right: 1%">
                    <div class="card-body">
                        <input type="checkbox" autocomplete="off" id="@informacao.id" name="checks[]" value="@informacao.titulo-@informacao.nota" onclick="validarInformacao('@informacao.id')">
                        @informacao.titulo <br />
                        @informacao.ano <br />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<div class="modal fade" id="modal_campeonato">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Disputas entre os filmes</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h3 align="center">Olha que legal a rodada foi gerada, vejam as disputas</h3>
                <br />
                <div style="padding-left: 5%;">
                    <div class="row">

                        <p> O filme <strong> <span id="filme01"> </span> </strong> enfrentará o  <strong> <span id="filme08"> </span> </strong> </p>

                    </div>
                    <br />
                    <div class="row">

                        <p> O filme  <strong> <span id="filme02"> </span></strong>   enfrentará o  <strong> <span id="filme07"> </span> </strong> </p>

                    </div>
                    <br />
                    <div class="row">

                        <p> O filme <strong> <span id="filme03"> </span> </strong>  enfrentará o  <strong> <span id="filme06"> </span> </strong> </p>

                    </div>
                    <br />
                    <div class="row">

                        <p> O filme <strong> <span id="filme04"> </span> </strong>  enfrentará o <strong> <span id="filme05"> </span> </strong> </p>

                    </div>
                    <input hidden id="array_informacao_filmes" name="filmes_selecionados[]" />
                    <br />
                    <div class="row" id="geradorDeCampeao">
                        <div align="center">
                            <button type="button" class="btn btn-success" onclick="gerarCampeao()" id="btnGerarCampeao">Vamos descobrir o campeão...</button>
                        </div>
                    </div>
                    <div class="row" id="campeao" style="display:none">
                        <div align="center">
                            <input hidden id="primeiro_colocado" />
                            <input hidden id="segundo_colocado" />

                            <button type="button" class="btn btn-danger" onclick="verCampeao()" id="btnGerarCampeao">Ja sabemos o campeão, clique aqui e saiba você também...</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<script>
    function validarInformacao(codigo_checkbox) {

        //Pegando o contador de quantos filmes ja foram marcados
        var contador = $('#contador_informacao').val();

        //Se a variavel contador estiver como "" seto ela para 0
        if (contador == "") {

            contador = 0;
        }

        //Verifico se o checkbox está sendo checado
        if (document.getElementById(codigo_checkbox).checked == true) {

            //Se for true somo um
            contador = parseInt(contador) + 1;

            //Coloco no input hidden a informação
            $('#contador').val(contador);


        }

        //Verifico se ele está desmarcando o checkbox
        if (document.getElementById(codigo_checkbox).checked == false) {

            //Tiro 1
            contador = parseInt(contador) - 1;

            //Guardo no contador
            $('#contador').val(contador);

            //Coloco a variavel para que  ele mostre um a menos no selecione, e desativo o botão
            $('#informacao_contador').html(contador);
            $('#contador_informacao').val(contador);
            $('#btnGerarCampeonato').prop('disabled', true);

        }

        //Se o contador for maior que 8, não deixo ele selecionar e ainda tiro o check daquele que ele tentou para nao salvar errado
        else if (contador > 8) {

            alert("Você nao pode selecionar mais do que 8 filmes");
            document.getElementById(codigo_checkbox).checked = false;

        } else {

            //Se tudo ocorrer bem, mostro no informação de contador ex 1 de 8, 2 de 8
            $('#informacao_contador').html(contador);
            $('#contador_informacao').val(contador);

            //e se o contador for igual a 8 habilito o botão
            if (contador == 8) {

                $('#btnGerarCampeonato').prop('disabled', false);
            }
        }

    }

    //Função para gerar campeonato
    function gerarCampeonato() {

        //Mudo o html para gerando
        $('#btnGerarCampeonato').html("Gerando. Aguarde...");

        //abro uma variavel array para pegar os filmes selecionados
        var filmes = new Array();

        //Verifico os filmes selecionados
        $("input[name='checks[]']:checked").each(function () {
            // valores inteiros usa-se parseInt
            //checkeds.push(parseInt($(this).val()));
            // string
            //vou colocando os filmes dentro do array
            filmes.push($(this).val());
        });

        //variaveis para controler a informacao
        var filmes_selecao = new Array();
        var filmes_enviar = new Array();

        //Passo um for no tamanho do array de filmes
        for (i = 0; i < filmes.length; i++) {

            //Recupero a informação
            var informacao = filmes[i];

            //Quebro a informação a partir do - para criar um array
            var filme = informacao.split("-");

            //insiro a informação do array filmes_selecao, com parâmetros como o nome do filme e a nota
            var filmes_selecao = { filme: filme[0], nota: filme[1]};

            //Depois pego o filmes_selecao e incremento ele no filmes_enviar 
            filmes_enviar.push(filmes_selecao)


        }

        //Depois disso faço o array de filmes ficar em ordem alfabética
        var filmes_enviar = filmes_enviar.sort(function (a, b) {

            return (a.filme > b.filme) ? 1 : ((b.filme > a.filme) ? -1 : 0);

        });


        //Passo para cada span id a informação da disputa de filmes
        $('#filme01').html(filmes_enviar[0]['filme']);
        $('#filme08').html(filmes_enviar[7]['filme']);

        $('#filme02').html(filmes_enviar[1]['filme']);
        $('#filme07').html(filmes_enviar[6]['filme']);

        $('#filme03').html(filmes_enviar[2]['filme']);
        $('#filme06').html(filmes_enviar[5]['filme']);

        $('#filme04').html(filmes_enviar[3]['filme']);
        $('#filme05').html(filmes_enviar[4]['filme']);


        //Converto a informação em json
        var json_informacao = JSON.stringify(filmes_enviar);

        //Armazendo o json em um input escondido para ser enviado depois 
        $('#array_informacao_filmes').val(json_informacao);

        //Abro o modal
        $('#modal_campeonato').modal('show');


    }


    //função para gerar o campeão
    function gerarCampeao() {

        //Modifico o html do botão
        $('#btnGerarCampeao').html("Gerando informação.. aguarde");

        //recupero o json e envio ele para Home Filmes SelecionadosAjax que vai receber o json
        var informacao_filmes_selecionados = $('#array_informacao_filmes').val();
        $.ajax({
            url: '/Home/FilmesSelecionadosAjax',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: informacao_filmes_selecionados,
            error: function (response) {
                alert('ERRO AO EXECUTAR');
            },
            success: function (response) {

                //Recupero a informação e armazendo ela nos input hidden que serão enviados para a página de quem é o ganhador
                $('#primeiro_colocado').val(response.campeao);
                $('#segundo_colocado').val(response.segundo_colocado);

                //Sumo com o botão de verificar o campeão
                $('#geradorDeCampeao').hide();
                //Mostro o botão que vai redirecionar para a tela 2 para mostrar os campeões
                $('#campeao').show();
            }
        });
    }

    //Nos levar a url mostrando o campeão
    function verCampeao() {

        //pego as informações do input hidden 
        var primeiro = $('#primeiro_colocado').val();
        var segundo = $('#segundo_colocado').val()

        //Envio a informação para verificar o ganhador
        location.href = "/Home/VerificarCampeao?primeiro=" + primeiro+"&segundo="+segundo;
        //location.href = "@Url.Action("Home", "VerificarCampeao", new { id = UrlParameter.Optional })" + "/" + primeiro + "/" + segundo;
        //location href = "@Url.Action("Home", "VerificarCampeao")" + "/" + informacao
        //window.location.href = "/Home/VerificarCampeao/"+informacao;
    }

</script>