﻿
@{
    ViewBag.Title = "Verificar Campeao";
}
@model WebApplication2.Models.GanhadorModel

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ganhador</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:LightGray;">
    <div class="container">
        <div class="card text-center bg-secondary text-white">
            <div class="card-header text-info">
                <strong>CAMPEONATO DE FILMES</strong>
            </div>
            <div class="card-body">

                <h3 aling="center">Resultado Final</h3><br />
                <p class="card-text">
                    Veja o resultado final do Campeonato de filmes de forma simples e rápida
                </p>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>
        <br />   
        <div class="card" style="padding-left:1%">
            <div class="card-body">

                <h3 class="display-4">1º @Model.primeiro </h3>
                
            </div>
        </div>
        <br />
        <div class="card" style="padding-left:1%">
            <div class="card-body">

                 <h3 class="display-4">2º @Model.segundo </h3>

            </div>
        </div>
        <br/>
        <div class="row" style="padding-left:1%">
            <a class="btn btn-primary" href="/Home/Index" role="button">Fazer um novo sorteio</a>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


